@import "tailwindcss";

:root {
  --paper: #f4f0e8;
  --paper-light: color-mix(in srgb, var(--paper) 20%, white);
  --font-sans: "Sometype Mono Variable", monospace;
}

@theme {
  --color-paper: var(--paper);
  --color-paper-light: var(--paper-light);
  --font-sans: var(--font-sans);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
